.nav-background {
	border-bottom: 2px solid #000000;
	background-color: #555555;
	margin-bottom: 1rem;
	padding: 1rem;
}

.nav-flex {
	display: flex;
	justify-content: center;
}

.nav-title {
	color: #000000;
	font-size: 2rem;
	margin: 0;
	padding: 1rem;
}

.nav-links {
	display: flex;
	width: 200px;
	justify-content: space-between;
}

a {
	display: flex;
	color: #ffffff;
	text-decoration: none;
}

.fa {
	display: flex;
	font-size: 1.4rem;
}

.active {
	text-decoration: none;
	color: #32cd32;
}
